{% extends "layout.html" %}

{% block title %}
    About
{% endblock %}

{% block main %}
    <h1 class= "glow">About</h1>
        <script>
            function caution()
            {
               alert("SPOILER: This page will ruin the illuision of artificial inteligence by explaining the frame work of its programing");
            }
        </script>
        <body>
            <section>
                <p>All yes or no questions also known as polar questions start with one of 19 words. Once that word is identified,
                responces become significantly more accurate. Responces are barrowed from the 8ball toy. If you are familiar, you
                know the responces answer an array of questions in the the right context. The two linguistic skills together create
                a level one AI.</p>
            </section>
        </body>

{% endblock %}